* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  transition: 0.4s;
}
#light {
  width: 80px;
  height: 80px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
}

.lightMode {
  background-color: #e5e7eb;
}
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}
.clock {
  width: 400px;
  height: 400px;
  background-image: url("images/clock.png");
  background-size: cover;
  box-shadow: inset 10px 10px 15px #202020, inset -10px -10px 15px #202020;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #747474;
  position: absolute;
  border-radius: 50%;
  z-index: 4;
}
.clock > .hour,
.clock > .minute,
.clock > .second {
  position: absolute;
  display: flex;
  justify-content: center;
}
.clock > .hour {
  width: 160px;
  height: 160px;
}
.clock > .hour::before {
  content: "";
  width: 8px;
  height: 80px;
  background-color: #ffb510;
  border-radius: 6px 6px 0 0;
  z-index: 1;
}
.clock > .minute {
  width: 190px;
  height: 200px;
}
.clock > .minute::before {
  content: "";
  width: 6px;
  height: 100px;
  background-color: #fd03be;
  z-index: 2;
  border-radius: 6px 6px 0 0;
}
.clock > .second {
  width: 230px;
  height: 230px;
}
.clock > .second::before {
  content: "";
  width: 3px;
  height: 150px;
  position: absolute;
  border-radius: 6px 6px 0 0;
  background-color: #17fb02;
  z-index: 3;
}
